.features {
  &__list {
    display: flex;
  }

  &__icon {
    display: flex;
    width: 270px;
    height: 120px;
    background-size: contain;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    margin-bottom: 30px;
    border-radius: 4px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--main-black-color);
  }

  &__text {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}
